<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show posts</title>
</head>
<body>
    <h1>Welcome @<%=post.username%></h1>
    <h1>Your id is:<%=post.id%></h1>
    <h1>Your Content:<%=post.content%></h1>
    
    
</body>
</html>